In [1]:
import pandas as pd
import numpy as np
import re
from difflib import SequenceMatcher    # https://docs.python.org/3/library/difflib.html#difflib.get_close_matches
# !pip install cleanco
# import cleanco   # would ne useful

# Unternehmensliste Interflex

## 1. Dataset info and preprocessing

In [2]:
ulist = pd.read_excel("Unternehmensliste_Interflex.xlsx")
ulist.head()

,Firmenname,Land,Postleitzahl,Ort,Straße und Hausnr.,USt.-IdNr.,ID
0,Bistum Essen,Deutschland,45127,Essen,Zwölfling 16,NaN,801695
1,KBS Kleider Bauer Betriebs-GmbH,Österreich,2380,Perchtoldsdorf,Zwingenstr. 5,NaN,850801
2,Elektro Ing-Plan GmbH Dresden,Deutschland,1187,Dresden,Zwickauer Straße 88,NaN,851014
3,Netzdesign-Vobornik,Deutschland,71083,Herrenberg,Zwickauer Strasse 41,NaN,NaN
4,NILES-SIMMONS Industrieanlagen GmbH,Deutschland,9117,Chemnitz,Zwickauer Straße 355,DE140853999,802541

In [3]:
ulist.duplicated().sum()   # 15 duplicated entries are already exist

15

In [4]:
ulist.nunique()    # 73 different countries can be categorized

Firmenname            14193
Land                     73
Postleitzahl           4946
Ort                    4239
Straße und Hausnr.    12702
USt.-IdNr.             4427
ID                    10852
dtype: int64

In [5]:
ulist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14550 entries, 0 to 14549
Data columns (total 7 columns):
Firmenname            14550 non-null object
Land                  13477 non-null object
Postleitzahl          14238 non-null object
Ort                   13902 non-null object
Straße und Hausnr.    14111 non-null object
USt.-IdNr.            4849 non-null object
ID                    10875 non-null object
dtypes: object(7)
memory usage: 795.8+ KB

In [6]:
ulist = (
    ulist
        .assign(
            Land=ulist['Land'].astype('category'),
            # Postleitzahl=ulist['Postleitzahl'].astype('Int64'),
            # ID=ulist['ID'].astype('Int64')   # not working
        )   # .info()
)

In [7]:
ulist.info()   # memory usage decreased by categorizing country (Land) column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14550 entries, 0 to 14549
Data columns (total 7 columns):
Firmenname            14550 non-null object
Land                  13477 non-null category
Postleitzahl          14238 non-null object
Ort                   13902 non-null object
Straße und Hausnr.    14111 non-null object
USt.-IdNr.            4849 non-null object
ID                    10875 non-null object
dtypes: category(1), object(6)
memory usage: 699.4+ KB

**Aim is to remove suffix and rest** ==> E.g: Sensient Imaging Technologies GmbH Chemiepark Bitterfeld-Wolfen

In [8]:
ulist.insert(loc=1, column='Firmenname_clean', value=ulist["Firmenname"].str.lower())

# ulist["Firmenname_clean"] = ulist["Firmenname"].str.lower()   # faster
# ulist[ulist['Firmenname'].str.endswith(tuple(suffix_list))] some finishes with gmbh some -gmbh and some even continues

In [9]:
ulist = ulist.assign(Idtrack=lambda ulist: range(1, len(ulist)+1))
ulist_original = ulist.copy()

## 1.1 Dataset Standardization
**Prefix, Middle, Suffix removal. Column Standardization**

In [10]:
# Suffix list for company names   (ordering is important! Will be fixed)
suffix_list = ['gmbh', 'gmbh&co.', 'ggmbh', 'gmbh+co.', 'kg-gmbh', 'gmbh&co', 'ltd.', 'se',
      'gmbh&co.kg', 'gmbh&cokg', 'gmbh.', 'gmbh,', 'gmbh&c', '(gmbh', 'mbh',
               'company', 'incorporated', 'corporation', 'corp.', 'corp', 'inc',
      '& co.', '& co',  'inc.', 's.p.a.', 'n.v.', 'a.g.', 'ag', 'nuf', 's.a.', 's.f.',
      'oao', 'co.', 'co',
              'soc.col.', 'stg', 'd.n.o.', 'ltda.', 'v.o.s.', 'a spol.',
      u've\xc5\x99. obch. spol.', 'kgaa', 'o.e.', 's.f.', 's.n.c.', 's.a.p.a.', 'j.t.d.',
      'v.o.f.', 'sp.j.', 'og', 'sd', ' i/s', 'ay', 'snc', 'oe', 'bt.', 's.s.', 'mb',
      'ans', 'da', 'o.d.', 'hb', 'pt',
              'unltd', 'ultd', 'sal', 'unlimited', 'saog', 'saoc', 'aj',
      'yoaj', 'oaj', 'akc. spol.', 'a.s.',
              'esv', 'gie', 'kv.', 'qk',
              'pty. ltd.', 'pty ltd', 'ltd', 'l.t.d.', 'bvba', 'd.o.o.', 'ltda', 'gmbh',
      'g.m.b.h', 'kft.', 'kht.', 'zrt.', 'ehf.', 's.a.r.l.', 'd.o.o.e.l.', 's. de r.l.',
      'b.v.', 'tapui',
      'sp. z.o.o.', 'sp. z o.o.', 'spółka z o.o.',
      's.r.l.', 's.l.', 's.l.n.e.', 'ood', 'oy', 'rt.',
      'teo', 'uab', 'scs', 'sprl', 'limited', 'bhd.', 'sdn. bhd.', 'sdn bhd', 'as',
      'lda.', 'tov', 'pp',
              'pllc', 'llc', 'l.l.c.', 'plc.', 'plc', 'hf.', 'oyj',
      'a.e.', 'nyrt.', 'p.l.c.', 'sh.a.', 's.a.', 's.r.l.', 'srl.', 'srl', 'aat', '3at', 'd.d.',
      's.r.o.', 'spol. s r.o.', 's.m.b.a.', 'smba', 'sarl', 'nv', 'sa', 'aps',
      'a/s', 'p/s', 'sae', 'sasu', 'eurl', 'ae', 'cpt', 'as', 'ab', 'asa', 'ooo', 'dat',
      'vat', 'zat', 'mchj', 'a.d.',
              'lllp', 'l.l.l.p.',
              'llp', 'l.l.p.', 'sp.p.', 's.c.a.', 's.c.s.',
              'gmbh & co. kg', 'lp', 'l.p.', 's.c.s.',
      's.c.p.a', 'comm.v', 'k.d.', 'k.d.a.', 's. en c.', 'e.e.', 's.a.s.', 's. en c.',
      'c.v.', 's.k.a.', 'sp.k.', 's.cra.', 'ky', 'scs', 'kg', 'kd', 'k/s', 'ee', 'secs',
      'kda', 'ks', 'kb','kt',
              'sicav',
              'nl',
              'vzw', 'ses.', 'gte.',
              'private', 'pte', 'xk',
              'p.c.', 'vof', 'snc',
              'pllc', 'p.l.l.c.',
              'e.u.', 's.p.', 't:mi', 'tmi', 'e.v.', 'e.c.', 'et', 'obrt',
      'fie', 'ij', 'fop', 'xt']

# Source of company suffices https://github.com/psolin/cleanco/blob/master/cleanco/termdata.py

In [11]:
def suffix_remover(companyname):    # Running multiple times (2 is good) removes suffix effectively
    for i in suffix_list:
        #if i in re.split(' |-', companyname):   # doesn't work properly
        if i == companyname.split()[0]:
            return ' '.join(companyname.split()[companyname.split().index(i)+1:])
        elif i in companyname.split():    # tokenization
            return ' '.join(companyname.split()[:companyname.split().index(i)])   # If first index is prefix then take rest of the string
            #return companyname.split()[:companyname.split().index(i)]

        elif i in companyname.split('-'):
            return ' '.join(companyname.split('-')[:companyname.split('-').index(i)])
            #return [x.replace(' ', '') for x in companyname.split('-')[:companyname.split('-').index(i)]]
    return companyname

ulist['Firmenname_clean'] = ulist['Firmenname_clean'].apply(suffix_remover)
ulist['Firmenname_clean'].head(10)

0                      bistum essen
1        kbs kleider bauer betriebs
2                  elektro ing-plan
3               netzdesign-vobornik
4    niles-simmons industrieanlagen
5                    gemac chemnitz
6                            emdion
7         fiege logistik stiftung &
8              william prym holding
9                      leoni kerpen
Name: Firmenname_clean, dtype: object

In [12]:
# Bug fixed
companyname='volkswagen financial services ag'
i='ag'
if i in companyname.split():
    print(companyname[:companyname.index(i)-1])
    
if i in companyname.split():
    print(' '.join(companyname.split()[:companyname.split().index(i)]))

volks
volkswagen financial services

In [13]:
# Prefix updated
companyname='as watson'
pref=['as', 'gmbh', 'ds']
  
for i in pref:
    if i == companyname.split()[0]:
        print(' '.join(companyname.split()[companyname.split().index(i)+1:]))
    elif i in companyname.split():
        print(' '.join(companyname.split()[:companyname.split().index(i)]))

watson

In [14]:
ulist[ulist['Firmenname_clean'] == '']

Empty DataFrame
Columns: [Firmenname, Firmenname_clean, Land, Postleitzahl, Ort, Straße und Hausnr., USt.-IdNr., ID, Idtrack]
Index: []

In [15]:
ulist[ulist['Firmenname'] == 'AS Watson']

,Firmenname,Firmenname_clean,Land,Postleitzahl,Ort,Straße und Hausnr.,USt.-IdNr.,ID,Idtrack
4195,AS Watson,watson,Niederlande,6666 LT,Heteren,Poort van Midden Gelderland Rood 24,NaN,331187,4196
4929,AS Watson,watson,Niederlande,3972,DA Renswoude,Nijborg 17,NaN,803522,4930

In [16]:
print('Remaining suffix as gmbh (most common):', len(ulist[ulist['Firmenname_clean'].str.contains('gmbh')]))

Remaining suffix as gmbh (most common): 41

In [17]:
ulist.iloc[564]

Firmenname            BOSCH SICHERHEITSSYSTEME GMB H
Firmenname_clean      bosch sicherheitssysteme gmb h
Land                                     Deutschland
Postleitzahl                                   85630
Ort                                        Grasbrunn
Straße und Hausnr.        WERNER-VON-SIEMENS-RING 10
USt.-IdNr.                               DE813474672
ID                                            902003
Idtrack                                          565
Name: 564, dtype: object

In [18]:
# ulist[ulist['Firmenname_clean'].str.contains('gmbh')]   # entries with typo
# gmbh remove

# [x.replace('gmbh', '') for x in ulist['Firmenname_clean'] if any(tag in x for tag in remove_list)]   # doesn't work

In [19]:
# pipeline
# ulist.duplicated().sum()   # remove duplicated rows in the dataframe
ulist["Firmenname_clean"] = ulist["Firmenname_clean"].str.lower()   # faster
ulist["Firmenname_clean"] = ulist["Firmenname_clean"].str.replace('\W', '')      # special characters are removed
ulist["Land"] = ulist["Land"].str.upper()
ulist["Land"] = ulist["Land"].str.replace('\W', '').astype('category')
ulist["Ort"] = ulist["Ort"].str.lower()
ulist["Ort"] = ulist["Ort"].str.replace('\W', '')
ulist['USt.-IdNr.'] = ulist['USt.-IdNr.'].str.replace(" ","")        # white space removed
ulist['ID'] = ulist['ID'].astype('str').str.replace('[^0-9]', '')    # ID with only numbers
# ulist['ID'] = ulist['ID'].astype('str').replace(r'\D+', '', regex=True)
ulist['ID'] = ulist['ID'].replace(r'^\s*$', np.NaN, regex=True)      # to keep missing values instead of empty strings

In [20]:
# Remove some prefix, middle, suffices from all companynames (clear typos: operational servicesGmbH & Co. KG)
remove_list = ['gmbh']   # stopwords approach, what about stiftung, holding etc.

def pre_middle_suffix_remove(companyname):   # appylying this function after special characters (+ white spaces) are removed
    for i in remove_list:
        if i in companyname:
            return companyname.replace(i, '')
    return companyname

ulist['Firmenname_clean'] = ulist['Firmenname_clean'].apply(pre_middle_suffix_remove)

In [21]:
# List of gmbh contained entries: [x for x in ulist['Firmenname_clean'] if any(tag in x for tag in remove_list)]
print('Original Companyname:', ulist.loc[554, 'Firmenname'])   # An Example with GmbH
print('Cleaned Companyname:', ulist.loc[554, 'Firmenname_clean'])
print('Number of gmbh left:', len(ulist[ulist['Firmenname_clean'].str.contains('gmbh')]))

Original Companyname: Technimark-Eisbär GmbHKunststoff- und Metallverarb.
Cleaned Companyname: technimarkeisbärkunststoffundmetallverarb
Number of gmbh left: 0

In [22]:
# a = list(set(ulist[ulist.loc[:,['Firmenname_clean', 'Land', 'Ort']].duplicated()].index) - set(ulist[ulist.loc[:,['Firmenname_clean', 'Land', 'Postleitzahl', 'Ort']].duplicated()].index))
# a.sort()
# ulist.loc[a]

## 2. Duplicates and Grouping them together

In [23]:
# moved NA of 'USt.-IdNr.' and 'ID' columns to bottom of df so that rows with more NA's will be removed because they are at the bottom.
sorted_duplicates = ulist.sort_values(by=["USt.-IdNr.", "ID"], na_position='last')      # move NAs to the bottom of the df
ulist = sorted_duplicates.drop_duplicates(subset=["Firmenname_clean", "Land", "Ort"],
                                     keep="first").sort_index().reset_index(drop=True)  # drop duplicates

In [24]:
len(ulist)   # it was 14090 without removing suffices

13987

In [25]:
a = list(set(sorted_duplicates.index) - set(sorted_duplicates.drop_duplicates(subset=["Firmenname_clean", "Land", "Ort"],
                                     keep="first").index))
# sorted_duplicates.iloc[a]

In [26]:
sorted_duplicates.groupby(['Firmenname_clean', 'Land', 'Ort']).size().sort_values(ascending=False)

Firmenname_clean           Land         Ort
freieundhansestadthamburg  DEUTSCHLAND  hamburg        6
hiltideutschland           DEUTSCHLAND  kaufering      5
fraport                    DEUTSCHLAND  frankfurt      5
landeshauptstadtstuttgart  DEUTSCHLAND  stuttgart      5
sappipapierholding         ÖSTERREICH   gratkorn       4
                                                      ..
nettoaps                   DEUTSCHLAND  stavenhagen    1
netscoutberlin             DEUTSCHLAND  berlin         1
netmarketpms               DEUTSCHLAND  heppendorf     1
netcomstuttgart            DEUTSCHLAND  stuttgart      1
1001artikelmedical         DEUTSCHLAND  riesa          1
Length: 12450, dtype: int64

Next step is grouping duplicated entries with a unique company name. Then applying same methods to companies from other data sets. First, removing suffices and then searching duplicated companies in company name, country and city columns. My goal is to finding duplicates so that I can group them under an unique company name. After that, I will append remaining unique company names to a final dataframe or a dictionary. Later, I can come back and group the duplicated ones for each unique company and create a many-to-one mapping function.

At the end, inputing a company name will return a unique company name (+information too like country, city, revenue?) based on grouping same companies with varying names and a rule-based approach.

For example:
Input (Volkswagen) ==> Volkswagen AG   based on suffix (adding suffix and searching)

Input (Volkswagen Aktiengesellschaft) ==> Volkswagen AG    (based on grouping same companies)

Input (VW) ==> Volkswagen AG   based on a rule

In [27]:
ulist[ulist["Firmenname_clean"].str.startswith('rweiss')]   # Actually both belongs to R.WEISS Packaging GmbH & Co. KG

,Firmenname,Firmenname_clean,Land,Postleitzahl,Ort,Straße und Hausnr.,USt.-IdNr.,ID,Idtrack
24,R. Weiss Maschinenbau GmbH,rweissmaschinenbau,DEUTSCHLAND,74564,crailsheim,ZUR FLÜGELAU 28-30,DE190976983,181817,26
25,R. Weiss Automation GmbH & Co. KG,rweissautomation,DEUTSCHLAND,74564,crailsheim,ZUR FLÜGELAU 28,NaN,803402,28

In [28]:
# sintmaartenskliniek   # city different but everything else same

In [29]:
# ulist.iloc[7659]   # general example

In [30]:
ulist[ulist['Firmenname'].str.contains('Volkswagen')]    # volksw'ag'en 'ag' case "ag" now catches correct ag (suffix one)

,Firmenname,Firmenname_clean,Land,Postleitzahl,Ort,Straße und Hausnr.,USt.-IdNr.,ID,Idtrack
212,Volkswagen Group United kingdom Limited,volkswagengroupunitedkingdom,GROSSBRITANNIEN,MK14 5AN,miltonkeynes,Yeomans Drive,NaN,805690,221
741,Volkswagen Automobile Stuttgart GmbH,volkswagenautomobilestuttgart,DEUTSCHLAND,70188,stuttgart,Wangener Str. 66,NaN,NaN,768
969,Volkswagen Original Teile Logistik GmbH & Co. KG,volkswagenoriginalteilelogistik,DEUTSCHLAND,34225,baunatal,Vertriebszentrum West,DE230960046,803202,1004
1060,Volkswagen Original Teile LogiSüdwest / Franke...,volkswagenoriginalteilelogisüdwestfranken,DEUTSCHLAND,97084,NaN,Unterer Kirchbergweg 65,NaN,170970,1097
1087,Volkswagen Infotainment GmbH,volkswageninfotainment,DEUTSCHLAND,44799,bochum,Universitätsstraße 140,DE295504619,803983,1126
2476,Volkswagen Business Services GmbH I-SEC; Frau ...,volkswagenbusinessservices,DEUTSCHLAND,38112,braunschweig,Schmalbachstraße 1,DE171252317,160936,2567
2478,Volkswagen Financial Services Digital Solution...,volkswagenfinancialservicesdigitalsolutions,DEUTSCHLAND,38112,braunschweig,Schmalbachstraße 1,DE260043656,800056,2569
3736,Volkswagen Immobilien GmbH,volkswagenimmobilien,DEUTSCHLAND,38440,wolfsburg,Poststr. 28,NaN,NaN,3883
6833,Volkswagen Osnabrück GmbH,volkswagenosnabrück,DEUTSCHLAND,49084,osnabrück,KARMANNSTRAßE 1,NaN,803445,7095
7652,Volkswagen Financial Services AG,volkswagenfinancialservices,DEUTSCHLAND,38112,braunschweig,IH-IMC,DE811115544,803041,7942
9067,Volkswagen Sachsen GmbH,volkswagensachsen,DEUTSCHLAND,8058,zwickau,Glauchauer Straße 40,DE141414869,802483,9432
10862,Volkswagen Argentina S.A.,volkswagenargentina,ARGENTINIEN,NaN,buenosaires,Centro Industrial Pacheco,NaN,851996,11318
11254,Volkswagen Kraftwerk GmbH,volkswagenkraftwerk,DEUTSCHLAND,38436,wolfsburg,Brieffach 0115,DE811115405,803444,11729
11255,Volkswagen Aktiengesellschaft,volkswagenaktiengesellschaft,DEUTSCHLAND,38436,wolfsburg,Brieffach 011/1875,NaN,850710,11730
11256,Volkswagen AG,volkswagen,DEUTSCHLAND,38436,wolfsburg,Brieffach 011/14010,DE115235681,803443,11731
11257,Volkswagen Coaching GmbH Rechnungswesen,volkswagencoaching,DEUTSCHLAND,38436,wolfsburg,Brieffach 011/05030,NaN,452161,11732
11309,Volkswagen Group Services GmbH,volkswagengroupservices,DEUTSCHLAND,38444,wolfsburg,Braunschweigerstrasse 101,DE214502654,804951,11784
13621,Volkswagen Financial Service (VWFS),volkswagenfinancialservicevwfs,GROSSBRITANNIEN,11111,kent,NaN,NaN,805206,14172

**Think/ask Aktiengesellschaft == AG rule based or grouped same companies**

In [31]:
ulist.head()

,Firmenname,Firmenname_clean,Land,Postleitzahl,Ort,Straße und Hausnr.,USt.-IdNr.,ID,Idtrack
0,Bistum Essen,bistumessen,DEUTSCHLAND,45127,essen,Zwölfling 16,NaN,801695,1
1,KBS Kleider Bauer Betriebs-GmbH,kbskleiderbauerbetriebs,ÖSTERREICH,2380,perchtoldsdorf,Zwingenstr. 5,NaN,850801,2
2,Elektro Ing-Plan GmbH Dresden,elektroingplan,DEUTSCHLAND,1187,dresden,Zwickauer Straße 88,NaN,851014,3
3,Netzdesign-Vobornik,netzdesignvobornik,DEUTSCHLAND,71083,herrenberg,Zwickauer Strasse 41,NaN,NaN,4
4,NILES-SIMMONS Industrieanlagen GmbH,nilessimmonsindustrieanlagen,DEUTSCHLAND,9117,chemnitz,Zwickauer Straße 355,DE140853999,802541,5

In [275]:
# input 2-5
# output 1st column add

# Next Steps
1. Working on Prefix:
      There are ' ' strings (if suffix in the first index of a string get the rest of that string [companyname.split().index(i):]) Done!
2. Converting Land and Ort columns to English
3. Creating a dictionary to map many to one (groupby or duplicates)
4. Function takes input and returns a unique company name and its' info
5. Other datasets

# Questions
1. Aktiengesellschaft == AG how to catch it? Should I include Aktiengesellschaft in a list to be removed substring or special rule would be better in this case? (Maybe I can create a dictionary for cases like AG<==>Aktiengesellschaft, but might be difficult to generalize for other acronym-definition pairs.)